 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

<div class="cContainer">
    <% if @categories.respond_to?(:each) %>
        <% @categories.each do |k,v|  %>
           <span class="sc">
               <span>
               <label id=<%= k[:id] %> class="pc" ><%= k[:name] %> </label><br>
                  <% if k[:children].respond_to?(:each) %>
                    <% k[:children].each do |a| %>
                      <label id=<%= a[:id] %> class="cc" ><%=  a[:name] %></label>&nbsp;
                    <% end %>
                  <% end %>
                </span>
            </span>
        <% end %>
    <% end %>
<div>
