<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "front", "data-turbolinks-track" => true %>

<div id="categories">
    <% if @categories.respond_to?(:each) %>
        <% @categories.each do |k,v|  %>
           <span class="sc">
               <span>
               <label id=<%= k[:id] %> class="pc" ><%= k[:name] %> </label><br>
                  <% if k[:children].respond_to?(:each) %>
                    <% k[:children].each do |a| %>
                      <label id=<%= a[:id] %> class="cc" onclick='listProducts(this);' ><%=  a[:name] %></label>&nbsp;
                    <% end %>
                  <% end %>
                </span>
            </span>
        <% end %>
    <% end %>
</div>
<div class="wrapper">
        <div id="cContainer">
        </div>
        <div id="pContainer">
        </div>
</div>

<div id="pDetails" hidden >
</div>
