 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

<div class="pContainer">
    <% if @products.respond_to?(:each) %>

        <% @products.each do |k,v|  %>

           <span class="pc">
               <img src="<%= k['images'][0] %>_thumb">
               <span>
               <label id=<%= k['id'] %> class="name" ><%= k['name'] %> </label>
               <label class="price"><%= k['price'] %> </label>

               </span>
           </span>
        <% end %>
    <% end %>
<div>
