<span onclick='wclose();' id="cb" >close</span>
    <h2><%= @products.name %></h2>
<div class="pc">
    <div class="pbAttrContainer">
    <div class="attr">SKU</div><label><%= @products.sku %></label>
    <div class="attr">Price</div><label><%= @products.price %></label>
    </div>

    <div class="pImageContainer"> 
    <% if @products.images.length %>
        <div class="sImg"><img src="<%=  @products.images[0] +"_thumb" %>"> </div>
    <% end %>
    </div>
    <div class="pAttrContainer">
    <% if @products.extra_attributes.respond_to?(:each) %>
       <% @products.extra_attributes.each do |k,v| %>
          <h3><%= k %></h3>
          <% v.each do |a,b| %>
             <div class="attr"><%= a %></div><label><%= b["value"] %></label>
          <% end %>
       <% end %>
    <% end %>
    </div>
</div>
