<%= javascript_tag do %>
$(function() {
  
        var k = $('#p_groups span').length;
        

       $('#addGroup').click( function() {
          var str = '<%= render :partial => 'group_fields' %>';
          str=str.replace(/_cnt_/g,k);
          str=str.replace(/_ord_/g,(k+1)*10);
          str=str.replace(/_id_/g,k);
          $('#p_groups').append(str);
            $('#'+k.toString()).bind("click", function(){
                    
         var i = $(this).prev().children().filter(":last").attr("counter");
         if (typeof i==='undefined'){ i=0;}
         i = parseInt(i)+1;
         var g_num=$(this).parents("div[class^='attribute_group']").attr("counter");
          
          var str = '<%= render 'attribute_fields' %>';
          str=str.replace(/_cnt_/g,i);
          str=str.replace(/_gnum_/g,g_num);
          str=str.replace(/_ord_/g,i*10);
          $(this).prev().append(str);
                i++;
                return false;

            });
            k++;
           return false;
        });
        
        
        $(document).on('click','#remElemet', function() { 
          if ($('#attr_list p').length>1){
            $(this).parents('p').remove();
          };
                return false;
        });
        $(document).on('click','#remGroup', function() {
          if ($('#p_groups span').length>1){
            $(this).parents('span').remove();
          };
                return false;
        });
        
});
<% end %>


<%= form_for :attr, url: {action: "save", id: @group_id } do |f| %>
  <label>Set name:</label>
  <input type="text" name="name" value="<%= @name %>" /><input type="hidden" name="attr_set_id" value="" />
  <label>Groups:</label>
  <div id="p_groups">
        <% gc=0 %>
        <%if  @list.respond_to?(:each) %>
        <% @list.each_with_index do |(k,v),gc| %>
        <% eo=gc.even? ? 'even':'odd' %>
        <span>
        <div id="attr_list" class="attribute_group <%= eo %>" counter="<%= gc %>"> 
                <div class="gr">
                <label>Group name:</label>
                <p> <input type="text" name="group[<%= gc %>][name]" value="<%= k %>" />
                 <a href="#" id="remGroup">Remove Group</a>
                </p>
                </div>
                     <div class="al">
                        <label>Attributes:</label>
                        <% if v["attributes"].respond_to?(:each) %>
                            <% v["attributes"].each_with_index do |(a,b),ac| %>
                            <p counter=<%= ac %>>
                                <input type="text" name="param[<%= gc %>][<%= ac %>][name]" value="<%= a %>" />                
                                <select name="param[<%= gc %>][<%= ac %>][type]">
                                <% @attribute_types.each do |t| %>
                                <% selected=t==b['type']?'selected':'' %>        
                                <option <%= selected %> ><%= t %></option>
                                <% end %>
                                </select> 
                                <a href="#" id="remElemet">Remove</a>
                            </p>
                            <% end %>
                        <%end %>
                
                    </div>

                  <input type="submit" class="addAttribute" value="Add">
        </div>
        </span>
        <% end %>
        <% else %>

    
        <% end %>
  
  </div>
  <%= f.submit "Add Group",id:"addGroup" %>
  <%= f.submit "Save" %>
<% end %>
