<%= render "attribute_fields_js" %>
<%= form_for :attr, url: {action: "save", id: @group_id }, html: { id: "product" } do |f| %>

<% if !@p_categories.as_json.nil? %>
<script>
    var check_list=<%= raw @p_categories.as_json %>;
</script>
<% end %>
<div class="hsection">

    <ul class="htabs">
        <li class="current">Tab1</li>
        <li class="">Tab2</li>
        <li>Tab3</li>
    </ul>

    <div class="box visible" style="display: block;">
        <%= render("base_set",:locals => { :name=>@name,:sku=>@sku,:price=>@price } ) %>

        <div id="extAttrTab">
            <% if @products.extra_attributes.respond_to?(:each) %>
              <% @products.extra_attributes.each do |k,v| %>
               <h3><%= k %></h1>
                <% v.each do |a,b| %>
                  <label><%= a %>:</label><input type="text" name="group[<%= k %>][<%= a %>][value]" value="<%= b["value"] %>">
                <% end %>
              <% end %>
            <%else%>
                <select id="attrSet" name="attr_set">
                    <% @attributes.each do |v| %>
                        <option set_id="<%= v[:id] %>"><%= v[:name] %></option>
                    <% end %>
                </select>
                <%= f.submit "Add",id:"addSet" %>
            <% end %>
            <div id="extAttrList"></div>
        </div>

    </div>
    <div class="box" style="display: none;">

        <div id="ptree"></div>
        <div id="hidden">
            <% if @images.respond_to?(:each) %>
              <% @images.each do |v| %>
                    <input type="text" hidden="" name="images[]" value="<%= v %>">
               <% end %>
             <% end %>
        </div>
        <% end %>
        <script>
         $.validate({
            decimalSeparator : '.'
          });
        </script>

    </div>
    <div class="box" style="display: none;">
    <%= form_for :file_upload, url: {action: "add_image", id:"1e445b9e7562756fdd360000" }, html: {id: "uplForm", multipart: true} do |f| %>
         <%= f.file_field :image %>
        <%= f.submit "Upload",id:"upload" %>
    <% end %>
    
        <div id="images">
        <% if @images.respond_to?(:each) %>
             <% @images.each do |v| %>
                <div class="image">
                    <div class="del_icon"></div>
                    <a data-lightbox="image-1" href="<%= v %>"><div class="zoom_icon"></div></a>
                    <img src=<%= v %>_thumb>
                </div>
             <% end %>
         <% end %>
        </div>

    </div>


</div>

<input id="Save" name="commit" type="submit" value="Save">
<div id="result"></div>


<%= javascript_include_tag "products", "data-turbolinks-track" => true %>
