<%= render "attribute_fields_js" %>
<%= form_for :attr, url: {action: "save", id: @group_id }, html: { id: "product" } do |f| %>

<div class="section">

    <ul class="tabs">
        <li class="current">Tab1</li>
        <li class="">Tab2</li>
        <li>Tab3</li>
    </ul>

    <div class="box visible" style="display: block;">
        <%= render("base_set",:locals => { :name=>@name,:sku=>@sku,:price=>@price } ) %>

        <div id="extAttrTab">
            <% if !@is_new %>
              <% @products.extra_attributes.each do |k,v| %>
               <label><%= k %></label><br>
                <% v.each do |a,b| %>
                  <label><%= a %></label><input type="text" name="group[<%= k %>][<%= a %>][value]" value="<%= b["value"] %>">
                  <br>
                <% end %>
              <% end %>
            <%else%>
                <select id="attrSet" name="attr_set">
                    <% @attributes.each do |v| %>
                        <option set_id="<%= v[:id] %>"><%= v[:name] %></option>
                    <% end %>
                </select>
                <%= f.submit "Add",id:"addSet" %>
            <% end %>
            <div id="extAttrList"></div>
        </div>

    </div>
    <div class="box" style="display: none;">
        <select id="catSel">
          <% @categories.sort!.each do |v| %>
            <option cid="<%= v[:id] %>"><%= raw(v[:path].gsub(/\//,'&raquo;') )%></option>
          <% end %>
        </select>
        <input id="addCat" name="commit" type="submit" value="Add">
        <div id="categories">
            <% if !@is_new %>
                <% @p_categories.each do |v| %>
                    <% @categories.each do |k| %> 
                       <% if k[:id]==v %>
                       <div class="category" id=<%= v %>><div class="del_icon_s"></div> <p><%= raw(k[:path].gsub(/\//,'&raquo;')) %><input type=text hidden name="categories[]" value="<%= v %>"></p></div>
                       <% end %>     
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div id="hidden">
            <% if !@is_new %>
              <% @images.each do |v| %>
                    <input type="text" hidden="" name="images[]" value="<%= v %>">
               <% end %>
             <% end %>
        </div>
        <% end %>
        <script>
         $.validate({
            decimalSeparator : '.'
          });
        </script>

    </div>
    <div class="box" style="display: none;">
    <%= form_for :file_upload, url: {action: "add_image", id:"1e445b9e7562756fdd360000" }, html: {id: "uplForm", multipart: true} do |f| %>
         <%= f.file_field :image %>
        <%= f.submit "Upload",id:"upload" %>
    <% end %>
    
        <div id="images">
        <% if !@is_new %>
             <% @images.each do |v| %>
                <div class="image">
                    <div class="del_icon"></div>
                    <a data-lightbox="image-1" href="<%= v %>"><div class="zoom_icon"></div></a>
                    <img src=<%= v %>_thumb>
                </div>
             <% end %>
         <% end %>
        </div>

    </div>


</div>


<input id="Save" name="commit" type="submit" value="Save">
<div id="result"></div>



