<%= render "attribute_fields_js" %>
<%= form_for :attr, url: {action: "save", id: @group_id }, html: { id: "product" } do |f| %>
  <%= render("base_set") %>   
  <br>
  <select name="asdad" attr1='attr'>
  <% @categories.each do |v| %>  
    <option cid="<%= v[:id] %>"><%= v[:path] %></option>
  <% end %>
  <%= f.submit "Add",id:"addCat" %>
  </select>
  <br>
  <select name="attribute_set">
    <% @attributes.each do |v| %>
    <option set_id="<%= v[:id] %>"><%= v[:name] %></option>
    <% end %>
  </select>

  <%= f.submit "Add",id:"addSet" %>
  <div id="set">
  </div>

  <%= f.submit "Save",id:"Save" %>
<% end %>

