<%= render "attribute_fields_js" %>
<%= form_for :attr, url: {action: "save", id: @group_id }, html: { id: "product" } do |f| %>
  <%= render("base_set",:locals => { :name=>@name,:sku=>@sku,:price=>@price } ) %>   
  <br>
  <select>
  <% @categories.each do |v| %>  
    <option cid="<%= v[:id] %>"><%= v[:path] %></option>
  <% end %>
  </select>
  <br>
  <div id="extAttrTab">
      <% if !@is_new %>
          <% @products.extra_attributes.each do |k,v| %>
               <label><%= k %></label><br>
                <% v.each do |a,b| %>
                  <label><%= a %></label><input type="text" name="group[<%= k %>][<%= a %>][value]" value="<%= b["value"] %>">
                  <br>
                <% end %>
          <% end %>  
      <%else%>   
         <select id="attrSet" name="attr_set">
           <% @attributes.each do |v| %>
           <option set_id="<%= v[:id] %>"><%= v[:name] %></option>
           <% end %>
         </select>

         <%= f.submit "Add",id:"addSet" %>
      <% end %>
      <div id="extAttrList"></div>
  </div>
  <%= f.submit "Save",id:"Save" %>
<% end %>

<div id="result"></div>
