<%= javascript_tag do %>
$(function() {
  
      $(document).on('click','#addSet', function() {
        var hash=$.post("/attribute_set/a9b57479756275293b250000/json",{sid:"sid"},
          function( data ) { 
            $.each(data,function(a,v) {
                  var tmp='<%= render("attribute_fields") %>';
                  var str;
                  var type;
                  var name=a;
                  var tag=v['tag'];
                  $('#set').append('<p class="set_name">'+name+'</p>');                      
                  var list=v['attributes'];
                  $.each(list,function(n,l) {
                      var str=tmp;
                      name=n;                    
                      tag=l['tag'];
                      type=l['type'];
                      str=str.replace(/_name_/g,name);
                      str=str.replace(/_type_/g,type);
                      str=str.replace(/_tag_/g,tag);
                      $('#set').append(str);                      
                      
                  });  
                     
            });  
          
          },"json") ;        
          return false;
        });
        
        
        
});
<% end %>

<%= form_for :attr, url: {action: "save", id: @group_id } do |f| %>
  <input type="text" name="name" value="<%= @name %>" /><input type="hidden" name="attr_set_id" value="" />
  <BR>
  <select name="">
  <% @categories.each do |v| %>  
    <option cid="<%= v[:id] %>"><%= v[:path] %></option>
  <% end %>
  <%= f.submit "Add",id:"addCat" %>
  </select>
  <br>
  <select name="param[attribute_set]">
    <% @attributes.each do |v| %>
    <option set_id="<%= v[:id] %>"><%= v[:name] %></option>
    <% end %>
  </select>

  <%= f.submit "Add",id:"addSet" %>
  <div id="set">
  </div>

<% end %>

