  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

       <input id="addProdcut" name="commit" type="submit" value="Add">

<ul class="list-results">
<% if @list.respond_to?(:each) %>
    <% @list.each do |k| %>
        <li> 
         <div class="button">
         </div>
        <div class="image">
            <img src="<%= k["images"][0] %>_thumb">
        </div>
        <div class="name"> <span class="productEdit" id="<%= k["id"] %>"><%= k["name"] %></span></div>
        <small>
         <%= k["price"] %>&nbsp;<%= @currency %><br> 
        </small>
        </li>
    <% end %>

<% end %>
</ul>
