
       <input id="addProdcut" name="commit" type="submit" value="Add">

<ul class="list-results">
<% if @list.respond_to?(:each) %>
    <% @list.each do |k| %>
        <li> 
         <div class="delProduct" id=<%= k["id"] %> >
         </div>
        <div class="image">
            <% if !k["images"].nil? %>
            <img src="<%= k["images"][0] %>_thumb">
            <% end %>
        </div>
        <div class="name"> <span class="editProduct" id="<%= k["id"] %>"><%= k["name"] %></span></div>
        <small>
         <%= k["price"] %>&nbsp;<%= @currency %><br> 
        </small>
        </li>
    <% end %>

<% end %>
</ul>
